/* Class menu js  */
#content {

    margin-top: 50px;
}

#create_new_dog {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    color: white;
}

#menu-container {

    width: 75%;
    margin-bottom: 10px;
    margin-top: 20px;
}

#listReproContainer {

    display: none;
    flex-direction: column;
    justify-content: center;
    border: 0px black solid;
}

#info-cane-corso {

    display: none;
    color: "beige";
}

#info-cane-corso div {

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#image-info-cane {

    width: 50%;

}

#image-info-cane img {

    width: 80%;
}


.paragraphe {

    color: beige;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    

}


.div-menu {

    padding: 10px;

}

.div-menu:hover {

    transform: scale(1.2);
}


.button-menu {

    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px white;
    background-color: black;
    text-align: center;
    text-decoration: none;
}

.button-menu:hover {

    border: solid 2px violet;
    border-radius: 10px;
    box-shadow: 2px 1px 5px violet;
    color: violet;    
    text-decoration: none;
}

.button-menu:visited {

    color: beige;
}

.button-menu a:hover {

    color: violet;
}

.dog-list-content { /* Nos album Photos => Contenant de Liste des nom de chien */

    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}
.album-content { /* Nos albums Photos => Contenant du diaporama */

    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* ou space-between */
    width: 68%;
    padding: 10px;
    border: cadetblue solid 2px;
    box-shadow: 5px 5px 2px cadetblue;
    border-radius: 3%;
    background-color: black;

}

.list-dog-link { /* Nos album Photos => Liste des noms des chiens */

    border: beige 2px solid;
    box-shadow: 1px 1px 5px beige;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5%;
    text-decoration: none;
    font-size: 1.2em;
    width: 70%;
}
.list-dog-link:visited {

    color: beige;
    font-weight: bold;
}
.image-diapo-photo { /* Image affichée dans le diaporama */ 
    max-height: 500px;
    width: auto;
    max-width: 85%;

}

.arrow {  /* Fleche de déplacement dans les diaporamas */
    border: 2px solid beige;
    box-shadow: 2px 2px 4px beige;
    font-size: 2em;
    height: 20px;
    width: 20px;
    padding-bottom: 20px;
}




.undertitle {
    display: flex;
    justify-content: center;
}
.undertitle img {
    border: black solid 1px;
    width: 25%;
    border-radius: 5%;
}
.list_style_none {
    list-style: none;
    text-align: center;

}




/* Elements basiques */

img {
    padding: 2px;
    border: beige 1px solid;
    border-radius: 2%;
}


body {
    background-color: #282c34;
}

h1 {
    color: beige;
    text-align: center;
    text-decoration: underline;
}
h3 {
    color: beige;
    text-align: center;
    font-style: italic;
}
p {

    color: beige;
}


